<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">



<body class="container mt-5">

    <h1>Register User</h1>
    <hr>

    <form id="registerForm" class="d-grid">
        <input type="text" name="name" class="form-control" placeholder="Name" required>
        <input type="email" name="email" class="form-control" placeholder="Email" required>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <input type="string" name="telephone" class="form-control" placeholder="Telephone" required>
        <input type="text" name="dni" class="form-control" placeholder="DNI" required>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>

    <script src="/js/register.js"></script>
</body>
</html>
