<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create ticket</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>

<body class="bg-light">

   
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <a class="navbar-brand" href="/api/auth/dashboard">Dashboard</a>

            <div class="d-flex">
                <a href="/api/tickets" class="btn btn-outline-light">
                    Back to tickets
                </a>
            </div>

        </div>
    </nav>


    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <div class="card shadow">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0">Create New Ticket</h4>
                    </div>

                    <div class="card-body">

                        <form id="createUserForm">

                            <div class="mb-3">
                                <label class="form-label">Title</label>
                                <input type="text" name="title" id="title" class="form-control" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <input type="text" name="description" id="description" class="form-control" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input type="password" name="password" id="password" class="form-control" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Telephone</label>
                                <input type="text" name="telephone" id="telephone" class="form-control" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">DNI</label>
                                <input type="text" name="dni" id="dni" class="form-control" required>
                            </div>


                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-success">
                                    Create User
                                </button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="/js/createUser.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
